<div class="flex flex-col justify-around">
  <div class="flex flex-col flex-1 px-5 mt-5">
    <h5 class="mb-5">Modify your component:</h5>
    
    <div class="bg-gray-400 border-2 border-gray-600 rounded w-full h-64 overflow-scroll flex flex-wrap justify-center">
      {{#each currentPageComp.options as |option|}}
        <div class="bg-white flex flex-col p-5 border-2 mx-2 my-5 border-gray-900 shadow rounded hover:shadow-lg h-48 w-1/4 mx-5">
          <div class="flex justify-center">
            <h6>{{option.name}}:</h6>
          </div>

          <div>
            <input 
              class="shadow appearance-none border border-grey-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              type="text" 
              value="hello">
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="flex flex-col flex-1 px-5 mt-5">
    <h5 class="mb-5">Preview:</h5>
    <div>
      <FullPreview 
        @customSrc={{iframeSrc}} 
        @customClassNames="full-preview-class-1"/>
    </div>
  </div>

  <div class="flex items-center justify-center my-5">
    <button class="btn mr-5">
      remove this from the layout!
    </button>
    <button class="btn btn-primary">
      I'm done editing this component
    </button>
  </div>

</div>
{{!-- {{model.componentId}}
{{model.pageName}} --}}