<div class="absolute left-0 top-0">
  <LinkTo  @route="style-guide"> Goto Styleguide </LinkTo>
</div>
<div class="flex flex-col items-center justify-center">
  <h2 class="mt-20">
    Let's build the portal you deserve
  </h2>
  <div class="subtitle">
    At portal builder we help you re-build your portal page to better match your company outlook.
  </div>

  <div class="my-10">
    <LinkTo
        @route="select-color-theme"
        class="btn btn-primary py-3">
      Start building customized portal
    </LinkTo>
  </div>

  <img
    class="w-3/4"
    src="images/hero-image.png" 
    alt="hero image">
</div>