this is some normal text
<h1>this is a h1</h1>
<h2>this is a h2</h2>
<h3>this is a h3</h3>
<h4>this is a h4</h4>
<h5>this is a h5</h5>
<h6>this is a h6</h6>

<div class="subtitle">
  this is a subtitle
</div>

<button class="btn">
  normal button
</button>

<button class="btn-primary">
  primary button
</button>

<div class="pb-10">

</div>

<LinkTo  @route="index"> Goto index </LinkTo>