/* full-page-preview page start*/
 .full-preview-class {
  width: calc(100% - 15px);
  height: calc(100vh - 30px);
 }

 .full-preview-class-1 {
  width: calc(100% - 15px);
  height: 100%;
  min-height: 250px;
  border: 2px solid #DBDDE0;
  border-radius: 4px;
 } 
/* full-page-preview page end*/